<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Niconne&display=swap" rel="stylesheet">
    <title>Login</title>
  </head>
  <body>
    <div class="hidden sm:flex flex-row justify-between items-center">
      <div
        id="left-login-form"
        class="flex flex-col justify-center items-center"
        style="padding: 0px 40px; height: 100vh; width: 45vw"
      >
        <form
          action="/"
          method="POST"
          class="flex flex-col justify-between items-center"
          style="width: 100%; height: 75%"
        >
          <h2 class="font-niconne italic text-center" style="font-size: 5vw">
            Login
          </h2>
          <div
            id="input-box-container"
            class="flex flex-col justify-between items-center"
            style="height: 30%; width: 100%; margin-bottom: 10px"
          >
            <%- include('../../components/InputBox.ejs', { title: "Input email", type: "text", name: "email", id: "email" }) %>
            <%- include('../../components/InputBox.ejs', { title: "Password", type: "password", name: "password", id: "password" }) %>

          </div>
          <!-- <div class="text-right w-full">
            <a
              href="/login/forgot-password"
              class="text-blue-500 hover:underline text-[14px]"
              >Forgot your password?</a
            >
          </div> -->
          <%-include('../../components/SubmitButton.ejs', { title: 'Login' })%>

          <div class="flex justify-center items-center" style="height: 10%">
            <p class="text-sm">
              Don't have an account?
              <a href="/register" class="hover:underline w-full font-bold"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
      <div
        id="right-login-container"
        class="flex justify-center items-center"
        style="width: 55vw; height: 100vh; padding: 20px"
      >
        <div
          class="w-full h-full"
          style="
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://i.pinimg.com/originals/5f/fa/0f/5ffa0fdd4fc3617b0484e44a0e0aa4c5.jpg');
            border-radius: 50px;
            box-shadow: black 1px 1px 10px;
          "
        ></div>
      </div>
    </div>

    <!-- FOR small BELOW -->
    <div class="sm:hidden flex-row justify-between items-center">
      <div
        id="left-login-form"
        class="absolute flex flex-col justify-center items-center"
        style="
          padding: 20px;
          height: 75vh;
          width: 70vw;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 20px;
          background: white;
          border-radius: 16px;

          border: 1px solid rgba(255, 255, 255, 0.3);
        "
      >
        <form
          action="/login"
          method="POST"
          class="flex flex-col justify-between items-center"
          style="width: 100%; height: 100%"
        >
          <h2 class="font-niconne italic text-center text-5xl">Login</h2>
          <div
            id="input-box-container"
            class="flex flex-col justify-between items-center"
            style="height: 30%; width: 100%"
          >
          <%- include('../../components/InputBox.ejs', { title: "Input User's Name", type: "text", name: "username", id: "username" }) %>
          <%- include('../../components/InputBox.ejs', { title: "Password", type: "password", name: "password", id: "password" }) %>
          </div>
          <%-include('../../components/SubmitButton.ejs', { title: 'Login' })%>

          <div
            class="flex justify-center items-center"
            style="height: 10%; font-size: 12px"
          >
            <p class="">
              Don't have an account?
              <a href="/register" class="hover:underline w-full font-bold"
                >Register</a
              >
            </p>
          </div>
        </form>

        </div>
      </div>

      <div
        id="right-login-container"
        class="flex justify-center items-center"
        style="width: 100vw; height: 100vh; padding: 20px"
      >
        <div
          class="w-full h-full"
          style="
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://i.pinimg.com/originals/5f/fa/0f/5ffa0fdd4fc3617b0484e44a0e0aa4c5.jpg');
            border-radius: 50px;
          "
        ></div>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const inputs = document.querySelectorAll(".input-content");
      inputs.forEach((input) => {
        input.value = "";
      });
    });
  </script>
</html>
